@charset "Shift_JIS";

#jtb {


	/*  SEOフッタ
	-----------------------------------------------------------*/
	#new_2012_site_navi {
		width: 970px;
		margin: 10px 0 0 5px;
		font-size: 10px!important;
		font-family:"ＭＳ Ｐゴシック", "MS PGothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
	}
	*+html #new_2012_site_navi{
		font: x-small/1.3 "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	#new_2012_site_navi ul {
		margin: 0px 0px 5px 0px;
	}
	#new_2012_site_navi ul li {
		display: inline;
		border-right: solid 1px #333;
		margin-right: 5px;
		padding-right: 5px;
		font-size: 10px!important;
	}
	#new_2012_site_navi ul li.first {
		border-left: solid 1px #333;
		padding-left: 5px;
	}
	#new_2012_site_navi ul li a {
		padding-bottom: 1px;
		text-decoration: none;
		color: #000099;
		font-size: 10px!important;
	}
	#new_2012_site_navi ul li a:hover {
		text-decoration: underline;
	}
	#new_2012_site_navi p {
		color: #333;
		font-size: 10px!important;
	}

	/*  フッタ
	-----------------------------------------------------------*/
	#footer_970_2012 a {text-decoration: none; color: #000099;}
	#footer_970_2012 a:hover { text-decoration: underline;}
	#footer_970_2012 {
		width: 970px;
		margin: 10px 0 0 5px;
		font-size: 12px;
		font-family:"ＭＳ Ｐゴシック", "MS PGothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
	}
	#footer_970_2012_inner {
		color: #fff;
		background: #efefef;
	}
	#footer_970_2012 .box_inner {
		width: 970px;
		margin: 0px auto 0px auto;
		padding: 33px 0px 31px 0px;
	}
	#footer_970_2012 .box_inner ul {
		margin: 0px 0px 32px 0px;
		padding: 0px 0px 0px 12px;
	}
	#footer_970_2012 .box_inner ul li {
		float: left;
		margin: 0px 8px 0px 0px;
		font-size: 11px;
	}
	#footer_970_2012 .box_inner ul li.new2012_blank a {
		background-image: url(../images/icon_foot_openwindow.gif);
		background-position: left top;
		background-repeat: no-repeat;
		padding: 0px 0px 2px 18px;
	}
	#footer_970_2012 .box_inner ul li.new2012_self a {
		background-image: url(../images/icon_foot_selfwindow.gif);
		background-position: left top;
		background-repeat: no-repeat;
		padding: 0px 0px 0px 10px;
	}
	#footer_970_2012 #new2012_copy {
		text-align: right;
		padding: 0px 17px 0px 0px;
	}

	#flogo_kotorikyo {
		float:right;
		margin-left:15px;
	}


	/* ===============================================

	既存CSS

	 ===============================================*/
	#footer{
		background:url(/common/images/hf_line.gif) #FFFFFF left top no-repeat;
		width:970px;
	}

	#footer-content{
		padding:0 5px;
	}
	#footer ul {
		float:left;
		width:600px;
		margin:5px 0;
	}
	#footer li {
		display:inline;
		border-left:1px solid #333333;
		margin-left:5px;
		padding-left:5px;
	}
	#footer li.list-first {
		border-left:none;
		margin-left:0;
		padding-left:0;
	}
	#footer p {
		text-align:right;
		padding:5px 0;
	}
	#footer:after{
		content:"";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
	#footer{
		display:inline-block;
	}
}	
	